@{
    ViewData["Title"] = "Privacy Policy";
}


<div class="container py-5">
    <div class="text-center mb-5">
        <h1 class="fw-bold text-primary">Privacy Policy</h1>        
    </div>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="mb-5">
                At Delhi Kitchen, we are committed to protecting your privacy. This Privacy Policy explains how we collect, use, and safeguard your personal information when you visit our website or use our services.
                We encourage you to read this policy carefully to understand our practices regarding your personal data.
            </div>

            <div class="mb-5">
                We do not sell, trade, or rent your personal information to third parties.
            </div>


            <div class="mb-5">
                Your phone number, email address, delivery address , and order details are collected solely for the purpose of processing your orders and providing you with a seamless shopping experience.
                We use this information to communicate with you about your orders, provide customer support, and improve our services.
            </div>
        </div>
    </div>

</div>
